* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  background-color: rgb(236, 236, 236);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Hides scrollbars in most browsers*/
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Hide scrollbar in Chrome & Safari browsers*/

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: 'Nunito Sans', sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1280px;
}